body{
	padding: 10px;
	margin: 10px;
}
/*  ESTILIZAÇÃO DE HEADER */

.campos{
	padding: 5px;
	width: 65%;
	float: left;
}
.buttons{
	width: 25%;
	float: left;
}

/*  ESTILIZAÇÃO DE HEADER */


/*  ESTILIZAÇÃO DE BOTÕES */

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 6px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

/*  ESTILIZAÇÃO DE BOTÕES */
.table-main{
	border-top: 1px solid black;
	width: 100%;
	float: left;
	margin-top: 10px;
}

table {
  margin-top: 10px;
  border: 1px solid black;
}

thead{
	background-color: #e5d3ff;
}

thead tr th{
			border-bottom: 1px solid black;
		padding: 5px;

}

tbody tr td{
		padding: 10px;
			border-bottom: 1px solid black;

}

.fimpage{
	float: left;
}